.content h1 {
    margin-left: 1rem;
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    font-family: var(--ff-primary);
  }

  .section_subtitle-about a {
    color: var(--color-light)
  }

  .section_subtitle-about a:hover{
    color: var(--color-dark)
  }

  .section_subtitle-about {
    font-size: var(--fs-h3);
    background: var(--color-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
  }

  .section_body-about {
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
    margin: 0.2rem 1rem 1rem 1rem;
    color: var(--color-light);
  }
  .content .slides-container {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    
  }
  .content .slides-container .slides {
    width: 10rem;
    height: 10rem;
    animation: 10s slides infinite linear;
    border-radius: 20%;
    box-shadow: var(--bs-around)
    /* position: absolute; top: 0; left: 0; opacity: 1; */
  }
  
  @keyframes slides {
    0% {
      background: url(/src/images/fishing1.jpeg);
      background-size: cover;
    }
    33% {
      background: url("/src/images/theboys.jpg");
      background-size: cover;
    }
    66% {
      background: url("/src/images/fishing2.jpg");
      background-size: cover;
    }
    100% {
      background: url("/src/images/intro-background.jpg");
      background-size: cover;
    }
  }

  @media screen and (min-width: 501px) and (max-width: 999px) {
    .slides-container .slides {
      width: 20rem;
      height: 20rem;
    }
  }
  
  @media screen and (min-width: 999px) {
    .content .about-me-content {
      margin: 0 5%;
    }
    .content .slides-container .slides {
      width: 25rem;
      height: 25rem;
    }
  }