img {max-width: 250px;
}

.blog_img {
    display: flex;
    justify-content: center;
}

#blog_main h1 {
    padding-left: 7vw;
    font-size: var(--fs-h2);
    font-family: var(--ff-primary);
}

.blog_text {
    font-family: var(--ff-primary);
    display: flex;
    justify-content: center;
}


#blog_container {
    font-family: var(--ff-primary);
    display: flex;
    flex-wrap: wrap;
    padding-left: 3rem;
    padding-right: 3rem;
}

.blog_article {
    padding: 1rem 2rem 1rem 2rem;
    background-color: var(--color-dark);
    border-color: var(--color-light);
    border-width: 10px;
    border-radius: 5%;
    box-shadow: var(--bs-around);
}

.button_blog {
    background-color: #252525; 
    padding: 0.2rem;
    margin: 0.4rem;
    border-radius: 10%;
    border: 2px solid var(--color-accent);
    font-family: var(--ff-secondary);
}

.button_blog a{
    color: var(--color-light);
    text-decoration: none;
}

.buttons_blog{
    display: flex;
    justify-content: space-evenly;
}

.button_blog:hover {
    background-color: #564caf;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media screen and (min-width: 820px) {
    #blog_container {
        display: flex;
        flex-direction: row;
        flex: wrap;
        justify-content: center;
        margin: 1rem;
    }

    .blog_article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 30%;
        margin: 2rem;     
    }
    
}

@media screen and (max-width: 819px) {
    .blog_article { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 30%;
        margin: 2rem;  
    }

    .blog_article img{
        max-width: 13rem;
    }
}